<div>
  <h1><%= Provider.model_name.human %>: <%= @provider.name %></h1>
  <p><%= Provider.human_attribute_name :nit %>: <%= @provider.nit %></p>
  <p><%= Provider.human_attribute_name :contact_name  %>: <%= @provider.contact_name %></p>
  <p><%= Provider.human_attribute_name :contact_phone  %>: <%= @provider.contact_phone %></p>
  <p><%= Bank.model_name.human %>: <%= @provider.bank_account.bank.name %></p>
  <p><%= BankAccount.human_attribute_name :number %>: <%= @provider.bank_account.number %></p>
</div>

<%= link_to I18n.t('actions.back'), providers_path %>
<%= link_to I18n.t('actions.edit'), edit_provider_path(@provider) %>
<%= link_to I18n.t('actions.destroy'), @provider, data: { "turbo-method": :delete } %>
