<%= form_with(model: bank, class: 'form-container mt-2') do |form| %>
  <% if bank.errors.any? %>
    <div>
      <ul>
      <% bank.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit class: 'button button-primary' %>
  </div>
<% end %>
